.App{
  min-height: 100vh;
  background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
}

.search-form{
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-bar{
  width: 50%;
  border: none;
  padding: 10px;
}
button{
  background: blue;
  border: none;
  padding: 10px 20px;
  color: white;
}
.recipe{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.shubham{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  color: blueviolet;
  border-radius: 10px;
  box-shadow: 2px 5px 2px;
  min-width: 40%;
}